[submodule "vim-pathogen"]
	path = vim-pathogen
  url = git://github.com/tpope/vim-pathogen.git
  ignore = dirty
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "bundle/git"]
	path = bundle/git
	url = git://github.com/tpope/vim-git.git
  ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
  ignore = dirty
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
  ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
  ignore = dirty
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
  ignore = dirty
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
  ignore = dirty
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
  ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/ddollar/nerdcommenter.git
  ignore = dirty
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
  ignore = dirty
[submodule "bundle/Color-Sampler-Pack"]
	path = bundle/Color-Sampler-Pack
	url = git://github.com/vim-scripts/Color-Sampler-Pack.git
  ignore = dirty
[submodule "bundle/ir_black"]
	path = bundle/ir_black
	url = git://github.com/wgibbs/vim-irblack
  ignore = dirty
[submodule "bundle/indent-object"]
	path = bundle/indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
  ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
  ignore = dirty
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
  ignore = dirty
[submodule "bundle/vividchalk"]
	path = bundle/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
  ignore = dirty
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
  ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
  ignore = dirty
[submodule "bundle/textile"]
	path = bundle/textile
	url = git://github.com/timcharper/textile.vim.git
  ignore = dirty
[submodule "bundle/zoomwin"]
	path = bundle/zoomwin
	url = git://github.com/vim-scripts/ZoomWin
  ignore = dirty
[submodule "bundle/searchfold"]
	path = bundle/searchfold
	url = git://github.com/vim-scripts/searchfold.vim.git
  ignore = dirty
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
  ignore = dirty
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = git://github.com/mrtazz/molokai.vim.git
  ignore = dirty
[submodule "bundle/javascript"]
	path = bundle/javascript
  url = git://github.com/pangloss/vim-javascript.git
  ignore = dirty
[submodule "bundle/conque"]
	path = bundle/conque
	url = git://github.com/vim-scripts/Conque-Shell.git
  ignore = dirty
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/edsono/vim-matchit.git
  ignore = dirty
